.footer {
    background-color: #0f256e;
    font-family: sans-serif;
    color: #fff;
}

.footer-title {
    color: #fff;
    font-size: 1.5rem;
}

.follows span a {
    text-decoration: none;
}

.follows span {
    margin-right: 15px;
}

.follows a i {
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    line-height: 40p;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s;
    text-align: center;
}

.follows a i:hover {
    background: #0056b3;
}

.link-list .link-item {
    background-color: transparent;
}

.link-list a {
    text-decoration: none;
    color: #0a2b1e;
    font-weight: 500;
}

.list-group li a {
    color: #fff;
}
.footer-follow {
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5rem;
}

p.address {
    color: #fff;
    font-family: sans-serif;
}