*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section, footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 50px;
  font-family: sans-serif;
  color: #0a2b1e;
  font-weight: 600;
}

p {
  color: #596b65;
  font-size: 1rem;
  line-height: 35px;
  font-family: sans-serif;
  font-weight: 400;
}

button.btn {
  padding: 7px 25px;
  border-radius: 50px;
}