<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Sender</title>
</head>
<body>
    <form action="/sendMessage" method="post"><div class="form-group">
        <label for="number">Enter Number</label>
        <input type="text" id="number" name="number">
    </div>

    <div class="form-group">
        <label for="message">Enter Message</label>
        <input type="text" name="message" id="message"> 
    </div>
         <input type="Submit" value="Send Message">
</form>
</body>
</html>